.PSD {
  fill: #4DBDBE;
  border-color: #4DBDBE !important;
}
.UDN {
  fill: #8578D4;
  border-color: #8578D4 !important;
}
.PTB {
  fill: #9F88B6;
  border-color: #9F88B6 !important;
}
.PSP {
  fill: #EBA164;
  border-color: #EBA164 !important;
}
.PTN {
  fill: orange;
  border-color:  orange !important;
}
.PRN {
  fill: #4DBDBE;
  border-color: #4DBDBE !important;
}
.PT {
  fill: #E5384B;
  border-color: #E5384B !important;
}
.PDT {
  fill: #812E4A;
  border-color: #812E4A !important;
}
.PSDB {
  fill: #2872B9;
  border-color: #2872B9 !important;
}
.PV {
  fill: #66dd66;
  border-color: #66dd66 !important;
}
.PSB {
  fill: #F5DA41;
  border-color: #F5DA41 !important;
}
.PPS {
  fill: #877E9D;
  border-color: #877E9D !important;
}
